/* general styling */

.font {
    font-family: 'Saira', sans-serif;

    color: #17245e;
}

.button {
    min-width: 20%;

    margin-left: 40%;
}

/* page styling */

.page {
    display: flex;
    justify-content: center;
}

.page-content {
    border-style: solid;
    border-color: #2b43b1;
    border-radius: 25px;

    background-color: #b9c3ee;

    padding: 5px;
}

.page-content-title {
    text-align: center;
}

/* footer styling */

.footer {
    background-color: #b9c3ee;

    display: flex;
    justify-content: center;
}