.page {
    display: flex;
    justify-content: center;
}

.page-content {
    border-style: solid;
    border-color: #2b43b1;
    border: 2px;
    border-radius: 25px;

    background-color: #b9c3ee;
}