/* general styling */

.font {
    font-family: 'Saira', sans-serif;

    color: #17245e;
}

.button {
    min-width: 20%;

    margin-left: 40%;
}

/* page styling */

.page {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.page-content {
    border-style: solid;
    border-color: #2b43b1;
    border-radius: 25px;

    background-color: #b9c3ee;

    padding: 5px;
}

.page-content-title {
    text-align: center;
}

.page-content-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;

    text-align: center;
}

/* footer styling */

.footer {
    background-color: #b9c3ee;

    display: flex;
    justify-content: center;

    position: absolute;

    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 60px;
}

.footer-text {
    font-size: 17px;
}

.footer-text-link {
    transition: 0.3s;
}

.footer-text-link:hover {
    font-size: 20px;
}